@page "/detail/{identifiant:int}"

@using Facturation.Shared
@inject BusinessData data
<!--
@if (courante == null)
{
    <div class="alert alert-danger">Facture introuvable</div>
}
else
{
    <section>
        <h4>Société</h4>
<<<<<<< Updated upstream
        <p>@courante.GetEntreprise().getNom()</p>
        <p>@courante.GetEntreprise().getAdresse()</p>
        <p>@courante.GetEntreprise().getCp()</p>
        <p>@courante.GetEntreprise().getVille()</p>
        <p>@courante.GetEntreprise().getSiret()</p>
        <p>@courante.GetEntreprise().getTel()</p>
=======
        /*<p>@courante.Entreprise.Nom</p>
        <p>@courante.Entreprise.Adresse</p>
        <p>@courante.Entreprise.Cp</p>
        <p>@courante.Entreprise.Ville</p>
        <p>@courante.Entreprise.Siret</p>
        <p>@courante.Entreprise.Tel</p>
>>>>>>> Stashed changes
    </section>
    <section>
        <h4>Client</h4>
        <p>@courante.GetClient().getNom()</p>
        <p>@courante.GetClient().getAdresse()</p>
        <p>@courante.GetClient().getCp()</p>
        <p>@courante.GetClient().getVille()</p>
    </section>
    <section>
        <h4>Dates</h4>
        <p>Date de la facture : @courante.getFactDate()</p>
        <p>Date de livraison : @courante.getLivrDate()</p>
    </section>

    <table>
        <tr>
            <th>Quantité</th>
            <th>Description</th>
            <th>Prix total HT</th>
        </tr>
        <tr>
            @foreach (var listCom in courante.GetLists())
            {
                <td>@listCom.getQuantite()</td>
                <td>@listCom.getDesignation()</td>
                <td>@listCom.getPrix_HT()</td>
            }
        </tr>
    </table>
    <h2>Prix TTC : @courante.getTotal()</h2>
}
    -->

@code {
    [Parameter]
    public int identifiant { get; set; }

    private Facture courante;


    protected override void OnInitialized()
    {
        courante = data.les_factures.Where(f => f.Id == identifiant).FirstOrDefault();
    }
}

