@page "/detail/{identifiant:int}"

@using Facturation.Shared
@inject BusinessData data


@if (courante == null)
{
    <div class="alert alert-danger">Facture introuvable</div>
}
else
{
    <section>
        <h4>Société</h4>
        <p>@courante.Entreprise.Nom</p>
        <p>@courante.Entreprise.Adresse</p>
        <p>@courante.Entreprise.Cp</p>
        <p>@courante.Entreprise.Ville</p>
        <p>@courante.Entreprise.Siret</p>
        <p>@courante.Entreprise.Tel</p>
    </section>
    <section>
        <h4>Client</h4>
        <p>@courante.Client.Nom</p>
        <p>@courante.Client.Adresse</p>
        <p>@courante.Client.Cp</p>
        <p>@courante.Client.Ville</p>
    </section>
    <section>
        <h4>Dates</h4>
        <p>Date de la facture : @courante.FactureDate</p>
        <p>Date de livraison : @courante.LivrableDate</p>
    </section>

    <table>
        <tr>
            <th>Quantité</th>
            <th>Description</th>
            <th>Prix total HT</th>
        </tr>
        <tr>
            @foreach (var listCom in courante.ListsCommandes)
            {
                <td>@listCom.Quantite</td>
                <td>@listCom.Designation</td>
                <td>@listCom.Prix_HT</td>
            }
        </tr>
    </table>
    <h2>Prix TTC : @courante.Total</h2>
}


@code {
    [Parameter]
    public int identifiant { get; set; }

    private Facture courante;


    protected override void OnInitialized()
    {
        courante = data.les_factures.Where(f => f.Id == identifiant).FirstOrDefault();
    }
}

